<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="web,iosアプリ制作が出来ます。ios日記アプリDAYCEを開発したのでインストールしてみて下さい。気軽にお問い合わせ下さい。">
    <link rel="stylesheet" href="style.css" />
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css'> -->
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'> -->
    <title>ひろのサイト - MENU</title>
</head>

<body>
    <header class="page-header">
        <nav>
            <ul class="main-nav">
                <li><a href="menu.html">Menu</a></li>
            </ul>
        </nav>
    </header>

    <div class="home-content wrapper">
        <h2 class="page-title">
            <p>MENU</p>
            <p>アプリ</p>
        </h2>
        <h3>
            <p>DAYCE</p>
            <p>家計簿くん</p>
        </h3>
    </div>
    <div class="app-contents wrapper">
        <article>
            <!-- <a style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple123/v4/b9/8f/5c/b98f5c06-1eb1-8d51-c51f-23f3dbd7c1e1/AppIcon_4-1x_U007emarketing-0-6-0-85-220.png/540x540bb.jpg" alt="DAYCE" style="width: 170px; height: 170px; border-radius: 22%; overflow: hidden; display: inline-block; vertical-align: middle;"></a> -->
            <img src="スクショ１.001.JPEG" alt="DAYCE"
                style="width: 140px; height: 350px; border-radius: 10%; overflow: hidden; display: inline-block; vertical-align: middle;">
            <img src="スクショ2.001.JPEG" alt="DAYCE"
                style="width: 140px; height: 350px; border-radius: 10%; overflow: hidden; display: inline-block; vertical-align: middle;">
            <img src="スクショ3.001.jpeg" alt="DAYCE"
                style="width: 140px; height: 350px; border-radius: 10%; overflow: hidden; display: inline-block; vertical-align: middle;">
        </article>
        <!-- <a class="nav-link {% block active_inquiry %}{% endblock %}" href="{% url 'nippo:inquiry' %}">お問い合わせ</a> -->
    </div>

    <div class="page-header">
        <ul class="main-nav">
            <li class="inquiry-btn"><a
                    href="https://form.run/embed/@hiroyuki--dHG8DY5gFfzDI7o4X0fP?embed=direct">お問い合わせ</a></li>
        </ul>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Hiro</small></p>
        </div>
    </footer>
</body>

</html>